/* Main container styling */
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background: linear-gradient(
    90deg,
    #0f2027,
    #203a43,
    #2c5364
  ); /* Dark gradient for a sleek look */
  position: relative;
}

/* Title styling */
.titleContainer {
  margin-bottom: 40px;
  text-align: center;
}

.titleContainer h1 {
  font-size: 2.5em; /* Bigger and bolder */
  color: #007bff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background: linear-gradient(90deg, #4191e75a, #b1d7e1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 20px 0;
  border-bottom: 3px solid #5f646a;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Buttons container styling */
.buttonsContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 15px; /* Increase the gap between buttons */
}

.logoutButton,
.createProjectButton {
  background-color: #17a2b8; /* Couleur principale du bouton */
  color: white;
  border: none;
  padding: 12px 24px; /* Bigger padding for a more clickable feel */
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 123, 255, 0.4); /* Button shadow */
  transition: all 0.3s ease-in-out;
}

.logoutButton:hover,
.createProjectButton:hover {
  background-color: #138496; /* Couleur au survol */
  box-shadow: 0 8px 20px rgba(23, 162, 184, 0.6); /* Ombre plus forte au survol */
  transform: translateY(-3px); /* Elevation effect on hover */
}

.createProjectButton {
  background-color: #138496; /* Green for create project button */
}

.createProjectButton:hover {
  background-color: #138496; /* Darker green on hover */
}

/* Projects container styling */
.projectsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; /* Increase gap between project cards */
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
}

/* Project card styling */
.projectCard {
  background-color: #f8f9fa;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 300px;
  flex: 1 1 250px;
}

.projectCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Deeper shadow on hover */
  background-color: #e9ecef;
}

/* Project name styling */
.projectName {
  font-size: 1.8em; /* Larger font */
  font-weight: bold;
  color: #138496;
  text-align: center;
  margin: 0;
}

.projectName:hover {
  color: #0056b3;
}

/* No projects available message styling */
.projectsContainer p {
  font-size: 1.2em;
  color: #1d4160;
  text-align: center;
  margin-top: 40px;
}
.allProjectsButton {
  background-color: #17a2b8; /* Couleur principale du bouton */
  color: white;
  border: none;
  padding: 12px 28px; /* Taille du bouton */
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 123, 255, 0.4); /* Button shadow */
  margin: 10px;
}

.allProjectsButton:hover {
  background-color: #138496; /* Couleur au survol */
  box-shadow: 0 8px 20px rgba(23, 162, 184, 0.6); /* Ombre plus forte au survol */
  transform: translateY(-3px); /* Légère élévation au survol */
}
